<p>trade-history works!</p>
<table id="trade-history">
    <tr>
        <th>Asset</th>
        <th>Order Type</th>
        <th>Size</th>
        <th>Entry Price</th>
        <th>Stop Loss Price</th>
        <th>Profit Price</th>
        <th>Open Time</th>
        <th>Close Time</th>
        <th>Total Profit</th>
    </tr>
    <tr>
        <td>USDJPY</td>
        <td>Buy</td>
        <td>140.90</td>
        <td>138.00</td>
        <td>180.00</td>
        <td></td>
        <td></td>
        <td></td>
        <td>$4.00</td>
    </tr>
    <tr>
        <td>EURUSD</td>
        <td>Buy</td>
        <td>1.250</td>
        <td>1.100</td>
        <td>1.850</td>
        <td></td>
        <td></td>
        <td></td>
        <td>$4.00</td>
    </tr>
</table>
